@import "~normalize.css";
@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/icons/lib/css/blueprint-icons.css";


*{
  margin: 0;
  padding: 0;
  font-weight: 400;
}


ul {
  padding: 0;
  margin: 0;
}
li {
  list-style: none;
}

.bp3-dark a, .bp3-dark a:hover{
  text-decoration: none;
  color: white;
}
#navbar {
  font-size: medium;
  position: sticky;
  top: 0;
}
.bp3-navbar-heading{
  font-weight: 600;
}
.bp3-button.bp3-minimal{
  outline: none;
}

.nav_left{
  margin-left: auto;
  display: flex;
  align-items: center;
}
.nav_right{
  display: flex;
  align-items: center;
}
.opennavbtn{
  margin-right: 5px;

}

.profile{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.profile_picture{
  width: 75px;
  height: 75px;
  background-color: rgb(211, 27, 64);
  border-radius: 50%;
  margin: 10px;
}
.menu{
  width: inherit;
  color: rgb(153, 153, 153);
}

#navbar a:hover{
  text-decoration: none;
  color: white;
}
#navbar a{
  text-decoration: none;
  color: white;
}
.bp3-dark a{
  color: rgb(153, 153, 153);
}
.menu li{
  margin: 10px 0;
  width: inherit;
  color: rgb(153, 153, 153);
}

.menuitems{
  display: block;
  font-size: medium;
  color: rgb(196, 196, 196);
  padding: 15px;
  width: 100%;
  border-radius: 2px;
  font-weight: 400;
}
NavLink{
  color:white;
}
.menuitems:hover{
  color: white;
  border-left: 2px solid rgb(207, 253, 0);
  background-color: rgba(0, 0, 0, 0.171);
  text-decoration: none;
}
.menuitems.active{
  color: white;
  border-left: 2px solid rgb(207, 253, 0);
  background-color: rgba(0, 0, 0, 0.171);
}

.bal{
  font-weight: 300;
  color: black;
  background-color: rgb(207, 253, 0);
  padding: 5px;
  border-radius: 40px;
  margin: 10px;
}
.p{
  width: 35px;
  height: 35px;
  background-color: rgb(211, 27, 64);
  border-radius: 50%;
}
.logo{
  color: white;
}